@{
    ViewData["Title"] = "Notify";
}

<div class="notification-page-container">
    <div class="notification-page-background-container">
        <div class="notification-header">
            <h2>@ViewBag.Message</h2>
        </div>
    </div>

</div>